* {
  margin: 0;
  padding: 0;
}

input[type=radio] ~ label {
padding: 10px 15px;
cursor: pointer;
}

#canvas-wrapper {
flex: 1;
.canvas {
  width: 100%;
  height: 100%;
}
}

.root {
display: flex;
border: 20px solid silver;
height: calc(100vh - 40px);
flex-direction: column;
}

.mode-container {
padding: 10px;
border-bottom: 1px solid black;
}
